{% extends 'creator/base.html' %}
{% load static %}
{% block title %}Create Podcasts{% endblock %}
{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Create Podcasts</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Show Information</h4>
                <p class="card-title-desc">Fill all information below</p>
                <span id="message" style="color: red; text-align: center;"></span>

                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="podcastName">Show Name</label>
                                <input id="podcastName" name="podcastName" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="control-label">Category</label>
                                <select class="form-control select2" id="category" name="category">
                                    <option>Choose An Category</option>
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="productdesc">Show Description</label>
                                <textarea class="form-control" id="showdescription" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="mb-3">
                                <label for="thumbnail">Show Art</label><br>
                                <img id="cropped" class="cropped" src="{% static './creator/defaultart.jpg' %}"
                                    onclick="openImage()" onchange="preview()" id="frame"
                                    style="height: 10rem; width: 10rem;">


                                <input style="display: none;" type="file" name="thumbnail" id="thumbnail"
                                    oninput="frame.src=window.URL.createObjectURL(this.files[0])" accept="image/*">
                            </div>

                            <div>
                                <label class="control-label">Visiblity</label>

                                <select class="form-control select2" id="visiblity" name="visiblity">
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>

                            </div>


                        </div>

                    </div>

                    <div class="d-flex flex-wrap gap-2">
                        <button type="button" id="createBtn" class="btn btn-primary waves-effect waves-light">Create
                            Show</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="box-2">
                    <div class="result"></div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>

                <button type="button" id="load" class="btn save btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>






<script>
    var imgSrc;
    let result = document.querySelector(".result"),
        save = document.querySelector(".save"),
        cropped = document.querySelector(".cropped"),
        upload = document.querySelector("#thumbnail"),
        cropper = "";

    upload.addEventListener("change", (e) => {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();

            reader.onload = (e) => {
                if (e.target.result) {
                    // create new image
                    $("#exampleModalCenter").modal("show");
                    let img = document.createElement("img");
                    img.id = "image";
                    img.src = e.target.result;

                    // clean result before
                    result.innerHTML = "";
                    // append new image

                    result.appendChild(img);
                    // init cropper
                    cropper = new Cropper(img);
                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });

    save.addEventListener("click", (e) => {
        e.preventDefault();
        // get result to data uri
        imgSrc = cropper
            .getCroppedCanvas({
                width: 300, // img disp value
            })
            .toDataURL();
        $("#exampleModalCenter").modal("hide");
        cropped.src = imgSrc;
    });
</script>

<script>
    $('#createBtn').click(function () {
        var formData = new FormData();
        formData.append("podcastName", document.getElementById("podcastName").value);
        formData.append("thumbnail", imgSrc);
        formData.append("category", document.getElementById("category").value);
        formData.append("visiblity", document.getElementById("visiblity").value);
        formData.append("showdescription", document.getElementById("showdescription").value);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');


        // restrict other Filetypes
        var ext = thumbnail.value.split(".")
        ext = ext[ext.length - 1].toLowerCase();
        var arrayExtensions = ["jpg", "png", "svg", "jpeg"];
        // END RESTRRICT FILE TYPE

        if (podcastName.value == '') {
            $('#message').html('Enter Podcast Name')
        } else if (thumbnail.value == '') {
            $('#message').html('Upload Thumbnail')
        } else if (arrayExtensions.lastIndexOf(ext) == -1) {
            $('#message').html('it is not an Image File')
        } else if (category.value == 'Choose An Category') {
            $('#message').html('Choose An Category')
        } else if (showdescription.value == '') {
            $('#message').html('Enter An Description')
        } else {
            $.ajax({
                url: '/creator/create-podcast/',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'JSON',
                success: function (data) {
                    if (data == 'podcastcreated') {
                        $("#showCreated").click();
                        window.location.replace('/creator/manage-podcasts/')
                    }
                }
            })

        }
    })

    function openImage() {
        $('#thumbnail').click()
    }
</script>


{% endblock content %}