{% extends 'creator/base.html' %}
{% load static %}
{% block title %}Manage Teams{% endblock %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Manage Teams</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img src="{% static 'creator/images/companies/img-1.png' %}" alt="" class="avatar-sm me-4">

                    <div class="media-body overflow-hidden">
                        <h5 class="text-truncate font-size-15">Skote Dashboard UI</h5>
                        <p class="text-muted">Separate existence is a myth. For science, music, sport, etc.</p>
                    </div>

                </div>

                <h5 class="font-size-15 mt-4">Project Details :</h5>

                <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                    Cambridge friend of mine told me what Occidental is. The European languages are members of the same
                    family. Their separate existence is a myth. For science, music, sport, etc,</p>

                <div class="text-muted mt-4">
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> To achieve this, it would be necessary
                    </p>
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> Separate existence is a myth.</p>
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> If several languages coalesce</p>
                </div>

                <div class="row task-dates">

                    <div class="col-sm-4 col-6">
                        <div class="mt-4">
                            <h5 class="font-size-14"><i class="bx bx-calendar me-1 text-primary"></i> Start Date</h5>
                            <p class="text-muted mb-0">08 Sept, 2019</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-6">
                        <div class="mt-4">
                            <h5 class="font-size-14"><i class="bx bx-calendar-check me-1 text-primary"></i> Due Date
                            </h5>
                            <p class="text-muted mb-0">12 Oct, 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Team Members</h4>
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap">
                        <tbody>
                            <tr>
                                <td style="width: 50px;"><img src="{% static 'creator/images/users/avatar-2.jpg' %}"
                                        class="rounded-circle avatar-xs" alt=""></td>
                                <td>
                                    <h5 class="font-size-14 m-0"><a href="#" class="text-dark">Daniel Canales</a></h5>
                                </td>
                                <td>
                                    <div>
                                        <a href="#"
                                            class="badge bg-primary bg-soft text-primary font-size-11">Frontend</a>
                                        <a href="#" class="badge bg-primary bg-soft text-primary font-size-11">UI</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'creator/images/users/avatar-1.jpg' %}"
                                        class="rounded-circle avatar-xs" alt=""></td>
                                <td>
                                    <h5 class="font-size-14 m-0"><a href="#" class="text-dark">Jennifer Walker</a></h5>
                                </td>
                                <td>
                                    <div>
                                        <a href="#" class="badge bg-primary bg-soft text-primary font-size-11">UI /
                                            UX</a>
                                    </div>
                                </td>
                            </tr>

                            <div class="text-center d-grid">
                                <a href="javascript: void(0);"
                                    class="btn btn-primary waves-effect waves-light addtask-btn" data-bs-toggle="modal"
                                    data-bs-target=".bs-example-modal-lg" data-id="#upcoming-task"><i
                                        class="mdi mdi-plus me-1"></i> Add New</a>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->


<div id="modalForm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0 add-task-title">Add New Task</h5>
                <h5 class="modal-title mt-0 update-task-title" style="display: none;">Update Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="NewtaskForm" role="form">

                    <div class="form-group mb-4">
                        <label class="col-form-label">Peoples<span class="text-danger">*</span></label>
                        <div><span id="message" style="color: red;"></span></div>
                        <div class="col-lg-12">
                            <select class="form-select validate" id="peoples" required>
                                <option value="Choose" selected>Choose..</option>
                                {% for creator in cretors %}
                                <option value="{{creator.user.id}}">{{creator.user.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label class="col-form-label">Roles<span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <select class="form-select validate" id="roles" required>
                                <option value="Choose" selected>Choose..</option>
                                <option value="admin">Admin</option>
                                <option value="editor">Editor</option>
                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-10">
                            <button type="button" class="btn btn-primary" id="AddPrivilage">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
    $('#AddPrivilage').click(function () {
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append("peoples", document.getElementById("peoples").value);
        formData.append("roles", document.getElementById("roles").value);

        if (peoples.value == 'Choose'){
            $('#message').html('choose People')
        }else if (roles.value == 'Choose'){
            $('#message').html('choose An Role')
        }else{
            $.ajax({
                url : '/creator/add-member/',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'JSON',
            })
            console.log('heyy')
        }
     
    })
</script>
{% endblock content %}


{% block scripts %}

{% endblock %}