{% extends 'creator/base.html' %}
{% load static %}
{% block title %}Manage Episodes{% endblock %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Manage Episodes</h4>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'create_episode' %}">Create Episodes</a>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div>
            <table class="table project-list-table table-nowrap align-middle table-borderless">
                <thead>
                    <tr>
                        <th scope="col" style="width: 100px">Episode Art</th>
                        <th scope="col">Episode Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for episode in episodes %}
                    <tr>
                        <td><img src="{{episode.ImageURL}}" style="width: 90px; height: 90px;" alt="" class="avatar-sm">
                        </td>
                        <td>
                            <h5 class="text-truncate font-size-14"><a href="#"
                                    class="text-dark">{{episode.episode_name}}</a></h5>
                            <p class="text-muted mb-0">{{episode.description|linebreaks}}</p>
                        </td>
                        <td><span class="badge bg-danger">{{episode.visiblity}}</span></td>
                        <td>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a href="{% url 'edit_episode' episode.id %}" class="dropdown-item"><i
                                                class="mdi mdi-pencil font-size-16 text-success me-1"></i> Edit</a></li>

                                    <li><a type="button" class="dropdown-item" href="{% url 'delete_episode' episode.id %}"><i
                                                class="mdi mdi-trash-can font-size-16 text-danger me-1"  onclick="return confirm('Are You Sure Want To Delete')"></i> Delete</a>
                                    </li>
                                    <li><a href="{% url 'episode_analytics' episode.id %}" class="dropdown-item"><i
                                        class="mdi mdi-google-analytics font-size-16 text-success me-1"></i>Analytics</a>
                            </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->

{% endblock content %}
