{% extends 'owner/base.html' %}
{% load static %}
{% block title %}Create ADs{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Create Advertisement</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="col-xl-6">
                            <label for="create Category">AD Name</label><br>
                            <span style="color: red;" id="message"></span>
                            <input type="text" class="form-control" placeholder="Enter Advertisement Name"
                                id="advertisement_name">
                        </div>

                        <div class="col-xl-6 mt-3">
                            <label for="types">Advertisement Type</label><br>
                            <select name="AdvertisementType" id="AdvertisementType" onclick="typez(value)">
                                <option value="banner">Banner</option>
                                <option value="popup">Popup</option>
                            </select>

                        </div>

                        <div class="col-xl-6 mt-3">
                            <label for="create Category">AD Images</label><br>
                            <input type="file" class="form-control" placeholder="Enter Advertisement Name"
                                id="advertisement_image">
                        </div>

                        <br>
                        <button type="button" class="btn btn-primary" id="adBtn">Create AD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div> <!-- container-fluid -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="box-2">
                    <div class="result"></div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>

                <button type="button" id="load" class="btn save btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var imgSrc
    let result = document.querySelector(".result"),
        save = document.querySelector(".save"),
        cropped = document.querySelector(".cropped"),
        upload = document.querySelector("#advertisement_image"),
        cropper = "";

    upload.addEventListener("change", (e) => {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = (e) => {
                if (e.target.result) {
                    // create new image
                    $("#exampleModalCenter").modal("show");
                    let img = document.createElement("img");
                    img.id = "image";
                    img.src = e.target.result;

                    // clean result before
                    result.innerHTML = "";
                    // append new image

                    result.appendChild(img);
                    // init cropper
                    if (flag == 0) {
                        cropper = new Cropper(img, {
                            viewMode: 2,
                            aspectRatio: 4 / 2,
                            autoCropArea: 1,
                            crop: function (e) {
                                console.log(e.detail.x);
                                console.log(e.detail.y);
                            }
                        });
                    } else {
                        cropper = new Cropper(img, {
                            viewMode: 2,
                            aspectRatio: 5 / 5,
                            autoCropArea: 1,
                            crop: function (e) {
                                console.log(e.detail.x);
                                console.log(e.detail.y);
                            }
                        });
                    }


                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });

    save.addEventListener("click", (e) => {
        e.preventDefault();
        // get result to data uri
        imgSrc = cropper.getCroppedCanvas({
            width: 300, // img disp value
        }).toDataURL();
        $("#exampleModalCenter").modal("hide");
        cropped.src = imgSrc;

    });
</script>

<script>
    var flag = 0
    function typez(value) {
        console.log(value, 'hwyy')
        if (value == "popup") {
            flag = 1
        } else {
            flag = 0
        }
    }

    $('#adBtn').click(function () {
        var formData = new FormData();
        formData.append("advertisement_name", document.getElementById("advertisement_name").value);
        formData.append("AdvertisementType", document.getElementById("AdvertisementType").value);
        formData.append("advertisement_image", imgSrc);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        if (advertisement_name == '') {
            $('#message').html('Enter an AD Name')
        } else if (advertisement_image.value == '') {
            $('#message').html('Upload an Image')
        } else {
            $.ajax({
                url: '/owner/create-ads/',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'JSON',
                success: function (data) {
                    if (data == 'ad_created') {
                        location.replace('/owner/manage-ads/')
                    }
                }
            })
        }
    })

</script>



{% endblock %}