{% extends 'owner/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div> <!-- end row -->
</div>
<!-- end page-title -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<div class="row">
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Total Creators</h5>
                </div>
                <h3 class="mt-4">{{total_creators_count}}</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-buffer bg-danger text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Total Lisnters</h5>
                </div>
                <h3 class="mt-4">{{total_listners_count}}</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Today Sales</h5>
                </div>
                <h3 class="mt-4">{{total_sales}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div style="width:50%;">
        <h1> Sales </h1>
        <canvas id="Graph" style="width:100%;"></canvas>
    </div>
    <hr>
    <!-- pie chart canvas element -->
    <div class="mt-3">
        <h1> Users </h1>
        <canvas id="users" width="600" height="400"></canvas>
    </div>
</div>


<script>
window.onload = function(){ 
  var ctx = document.getElementById("Graph").getContext("2d");
  var LineChart = new Chart(ctx).Line(graph, options);
}

var options = {
  responsive:true
};
var graph = {
  labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "Novomber", "December"], // 12
  datasets: [
    {
      label: "Dados primários",
      fillColor: "rgba(220,220,220,0.3)",
      strokeColor: "#4d90fe",
      pointColor: "#4d90fe",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "#4d90fe",
      data: JSON.parse('{{sales_data}}')  // 12	
    }
  ]
};

</script>



<script>
    // pie chart data
    var pieData = [
        {
            value: JSON.parse('{{consumers_data}}'),
            color:"#878BB6"
        },
        {
            value : JSON.parse('{{creators_data}}'),
            color : "#4ACAB4"
        }
    ];
    
    // pie chart options
    var pieOptions = {
            segmentShowStroke : false,
            animateScale : true
    }
    
    // get pie chart canvas
    var countries= document.getElementById("users").getContext("2d");
    // draw pie chart
    new Chart(countries).Pie(pieData, pieOptions);
</script>

{% endblock %}