{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Create Playlist</h3>
                </div>
              </div>
            </div>
            <span id="message"></span>
            <div class="card-body">
              <form>
                <span id="message" style="color: red"></span>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Playlist Name</label>
                        <input type="text" id="playlist_name" name="playlistName" class="form-control"
                          placeholder="Playlist name"/>
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <button id="playlistBtn" type="button">Create</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $('#playlistBtn').click(function(){
        var Playlist = {
          csrfmiddlewaretoken: '{{csrf_token}}',
          playlist_name: $('#playlist_name').val(),
        }
        if (Playlist.playlist_name == ''){
          console.log(Playlist)
        }else{
          $.ajax({
          url: '/create-playlist/',
          type : 'POST',
          data:Playlist,
          dataType: 'JSON',
          success:function(data){
            location.replace('/playlist/')
          }

        })
        }

      })
    </script>
  
{% endblock content %}