{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="iq-card">
            <div class="iq-card-body p-0">
               <div class="iq-edit-list">
                  <ul class="iq-edit-profile d-flex nav nav-pills">
                     <li class="col-md-3 col-lg-6 p-0">
                        <a class="nav-link active" data-toggle="pill" href="#personal-information">
                           Personal Information
                        </a>
                     </li>
                     <li class="col-md-3 col-lg-6 p-0">
                        <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                           Change Password
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      
      <div class="col-lg-12">
         <div class="iq-edit-list-data">
            <div class="tab-content">
               <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Personal Information</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <form>
                           <span style="color: red;" id="message"></span>
                           <div class="form-group row align-items-center">
                              <div class="col-md-12">
                                 <div class="profile-img-edit">
                                    {% if user_details.ImageURL == "" %}
                                    <img class="profile-pic" src="{% static './consumer/images/user/11.png' %}"
                                       alt="profile-pic">
                                    {% else %}
                                    <img class="profile-pic" src="{{user_details.ImageURL}}" alt="profile-pic">
                                    {% endif %}
                                    <div class="p-image">
                                       <i class="ri-pencil-line upload-button"></i>
                                       <input class="file-upload" id="profile_image" type="file" accept="image/*" />
                                    </div>
                                 </div>

                              </div>
                           </div>

                           <div class=" row align-items-center">
                              <div class="form-group col-sm-6">
                                 <label for="fname">First Name:</label>
                                 <input type="text" class="form-control" id="first_name"
                                    value="{{user_details.user.first_name}}">
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="lname">Last Name:</label>
                                 <input type="text" class="form-control" id="last_name"
                                    value="{{user_details.user.last_name}}">
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="lname">Email:</label>
                                 <input type="email" class="form-control" id="email"
                                    value="{{user_details.user.email}}">
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="uname">Phone Number:</label>
                                 <input type="number" class="form-control" id="mobile_number"
                                    value="{{user_details.mobile_number}}">
                              </div>
                           </div>
                           <button type="button" id="profileUpdateBtn" class="btn btn-primary mr-2">Submit</button>
                        </form>
                     </div>
                  </div>
               </div>

               <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Change Password</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <form>
                           <div class="form-group">
                              <span id="notification_message" style="color: red;"></span><br>
                              <label for="cpass">Current Password:</label>
                              <input type="Password" class="form-control" id="current_password" value="">
                           </div>
                           <div class="form-group">
                              <label for="npass">New Password:</label>
                              <input type="Password" class="form-control" id="new_password" value="">
                           </div>
                           <div class="form-group">
                              <label for="vpass">Verify Password:</label>
                              <input type="Password" class="form-control" id="verify_password" value="">
                           </div>
                           <button type="button" id="chgpwd" class="btn btn-primary mr-2">Change Password</button>
                        </form>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>


<!-- changePassword -->
<script>
   $('#chgpwd').click(function () {
      var passwordData = {
         csrfmiddlewaretoken:'{{csrf_token}}',
         current_password: $('#current_password').val(),
         new_password: $('#new_password').val(),
         verify_password: $('#verify_password').val(),
      }
      if (passwordData.current_password === '') {
         $('#notification_message').html('Enter Current Password')
      } else if (passwordData.new_password === '') {
         $('#notification_message').html('Enter New Password')
      } else if (passwordData.verify_password === '') {
         $('#notification_message').html('Enter Verify Password')
      } else {
         $.ajax({
            url: '/change_password/{{request.user.id}}/',
            type: 'POST',
            dataType: 'JSON',
            data:passwordData,
            success:function(data){
               if(data == 'current_password_notmatching'){
                  $('#notification_message').html('Current Password Not Matching')
               }else if(data == 'newpassword_not_matching'){
                  $('#notification_message').html('New Password Not Matching')
               }else if(data == 'password_updated'){
                  location.reload()
               }
            }
         })
      }
   })
</script>




<!-- cropping -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
            <div class="box-2">
               <div class="result"></div>
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
               Close
            </button>

            <button type="button" id="load" class="btn save btn-primary">
               Save changes
            </button>
         </div>
      </div>
   </div>
</div>


<script>
   var imgSrc;
   let result = document.querySelector(".result"),
      save = document.querySelector(".save"),
      cropped = document.querySelector(".cropped"),
      upload = document.querySelector("#profile_image"),
      cropper = "";

   upload.addEventListener("change", (e) => {
      if (e.target.files.length) {

         // start file reader
         const reader = new FileReader();

         reader.onload = (e) => {
            if (e.target.result) {
               // create new image
               $("#exampleModalCenter").modal("show");
               let img = document.createElement("img");
               img.id = "image";
               img.src = e.target.result;

               // clean result before
               result.innerHTML = "";
               // append new image

               result.appendChild(img);
               // init cropper
               cropper = new Cropper(img, {
                  viewMode: 2,
                  aspectRatio: 5 / 5,
                  autoCropArea: 1,
                  crop: function (e) {
                     console.log(e.detail.x);
                     console.log(e.detail.y);
                  }
               });

            }
         };
         reader.readAsDataURL(e.target.files[0]);
      }
   });

   save.addEventListener("click", (e) => {
      e.preventDefault();
      // get result to data uri
      imgSrc = cropper
         .getCroppedCanvas({
            width: 300, // img disp value
         })
         .toDataURL();
      $("#exampleModalCenter").modal("hide");
      cropped.src = imgSrc;

   });
</script>
<!-- croping ends -->


<script>
   $('#profileUpdateBtn').click(function () {
      var formData = new FormData()
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      formData.append("profile_image", imgSrc);
      formData.append("first_name", document.getElementById("first_name").value);
      formData.append("last_name", document.getElementById("last_name").value);
      formData.append("email", document.getElementById("email").value);
      formData.append("mobile_number", document.getElementById("mobile_number").value);

      if (profile_image.value == '') {
         $('#message').html('Upload Profile Picture')
      } else if (first_name.value == '') {
         $('#message').html('Enter First Name')
      } else if (last_name.value == '') {
         $('#message').html('Enter Last Name')
      } else if (email.value == '') {
         $('#message').html('Enter Email Address')
      } else if (mobile_number.value == '') {
         $('#message').html('Enter Mobile Number')
      }
      else {
         var id = '{{request.user.id}}'
         $.ajax({
            url: '/edit-profile/' + id + '/',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'JSON',
            success: function (data) {
               if (data == 'profileupdated') {
                  window.location.reload()
               }
            }
         })
      }
   })
</script>
{% endblock content %}