{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-12">
    <div class="iq-card">
        <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
                <h4 class="card-title">Followed Podcasts</h4>
            </div>
        </div>

        <div class="iq-card-body">
            <div class="table-responsive">
                <table class="data-tables table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Show Art</th>
                            <th style="width: 10%;">Show Name</th>
                            <th style="width: 10%;">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for shows in followed_shows %}
                        <tr>
                            <td>
                                <img src="{{shows.ImageURL}}" class="img-fluid avatar-50 rounded" alt="author-profile">
                            </td>
                            <td><h6>{{shows.show_name}}</h6></td>
                            <td>
                                <div class="flex align-items-center list-user-action">
                                    <button class="btn btn-primary iq-play mr-2" id="followShowBtn" onclick="fu('{{shows.id}}')">Unfollow</button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>

    </div>
</div>


<script>
    var id;
    function fu(showId) {
        id = showId
    }

    $('#followShowBtn').click(function(){
      var showId = id
      var follow_Type = 'followpodcast'
      var followData = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         id: showId,
         followType: follow_Type,
      }
      $.ajax({
         url: '/follow-show/'+showId+'/',
         type: 'POST',
         data:followData,
         dataType:'JSON',
         success:function(data){
            location.reload()
         }
      })
   })

</script>
{% endblock content %}