{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}


<div class="col-lg-12">
   {% if not results %}
   <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between align-items-center">
         <div class="iq-header-title">
            <h4 class="card-title">Featured Shows</h4>
         </div>
         <div id="feature-album-slick-arrow" class="slick-aerrow-block"></div>
      </div>
      <div class="iq-card-body">
         <ul class="list-unstyled row  feature-album iq-box-hover mb-0">
            {% for featured in fetaured_shows %}
            <li class="col-lg-2  iq-music-box">
               <div class="iq-card mb-0">
                  <a href="{% url 'single_podcast' featured.show.id %}">
                     <div class="iq-card-body p-0">
                        <div class="iq-thumb">
                           <div class="iq-music-overlay"></div>
                           <a href="{% url 'single_podcast' featured.show.id %}">
                              <img src="{{featured.show.ImageURL}}" class="img-border-radius img-fluid w-100" alt="">
                           </a>
                           <div class="overlay-music-icon">
                              <a type="button" onclick="showFirstEpisode('{{featured.show.id}}')">
                                 <i class="las la-play-circle"></i>
                              </a>
                           </div>
                        </div>
                        <div class="feature-list text-center">
                           <h6 class="font-weight-600 mb-0">{{featured.show.show_name}}</h6>
                           <p class="mb-0">{{featured.show.host}}</p>
                        </div>
                     </div>
                  </a>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
   {% else %}
   <h1>followed</h1>
   {% endif %}

</div>

<div class="col-lg-12">
   <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between align-items-center">
         <div class="iq-header-title">
            <h4 class="card-title">Top Podcasters</h4>
         </div>
         <div id="feature-album-artist-slick-arrow" class="slick-aerrow-block"></div>
      </div>
      <div class="iq-card-body">
         <ul class="list-unstyled row feature-album-artist mb-0">

            {% for artist in top_podcasters %}
            <li class="col-lg-2  iq-music-box">
               <a href="{% url 'single_artist' artist.creator.id %}">
                  <div class="iq-thumb-artist">
                     <div class="iq-music-overlay"></div>
                     <a href="{% url 'single_artist' artist.creator.id %}">
                        <img src="{{artist.creator.ImageURL}}" class="w-100 img-fluid" alt="">
                     </a>
                     <div class="iq-music-box">
                        <a href="{% url 'single_artist' artist.creator.id %}"></a>
                     </div>
                  </div>
                  <div class="feature-list text-center">
                     <h6 class="font-weight-600  mb-0">{{artist.creator.user}}</h6>
                  </div>
               </a>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>

<div class="col-lg-12">
   <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
         <div class="iq-header-title">
            <h4 class="card-title">Trending Podcasts</h4>
         </div>
      </div>
      <div class="iq-card-body">
         <ul class="list-unstyled row iq-box-hover mb-0">
            {% for content in shows %}
            <li class="col-xl-2 col-lg-3 col-md-4 iq-music-box">
               <div class="iq-card">
                  <a href="{% url 'single_podcast' content.id %}">
                     <div class="iq-card-body p-0">
                        <div class="iq-thumb">
                           <div class="iq-music-overlay"></div>
                           <a href="{% url 'single_podcast' content.id %}">
                              <img src="{{content.ImageURL}}" class="img-border-radius img-fluid w-100" alt="">
                           </a>
                           <div class="overlay-music-icon">
                              <a type="button" onclick="currentTrack('{{content.id}}')">
                                 <i class="las la-play-circle"></i>
                              </a>
                           </div>
                        </div>
                        <div class="feature-list text-center">
                           <h6 class="font-weight-600  mb-0">{{content.episode_name}}</h6>
                           <p class="mb-0">{{content.show_name}}</p>
                        </div>
                     </div>
                  </a>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>

<div class="col-lg-12">
   <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
         <div class="iq-header-title">
            <h4 class="card-title">Popular Podcasts</h4>
         </div>
      </div>
      <div class="iq-card-body">
         <ul class="list-unstyled row  iq-box-hover mb-0">
            {% for show in shows %}
            <li class="col-xl-2 col-lg-3 col-md-4 iq-music-box">
               <div class="iq-card ">
                  <div class="iq-card-body p-0">
                     <a href="{% url 'single_podcast' show.id %}">
                        <div class="iq-thumb">
                           <div class="iq-music-overlay"></div>
                           <a href="{% url 'single_podcast' show.id %}">
                              <img src="{{show.ImageURL}}" class="img-border-radius img-fluid w-100" alt="">
                           </a>
                           <div class="overlay-music-icon">
                              <a type="button" onclick="currentTrack('{{show.id}}')">
                                 <i class="las la-play-circle"></i>
                              </a>
                           </div>
                        </div>
                     </a>
                     <div class="feature-list text-center">
                        <h6 class="font-weight-600  mb-0">{{show.episode_name}}</h6>
                        <p class="mb-0">{{show.show_name}} </p>
                     </div>
                  </div>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>


{% endblock content %}