{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}
   <div class="container-fluid">
{% for c_name,shows in datas.items %}
      <div class="row">
         <div class="col-lg-12">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">{{c_name}}</h4>
                  </div>
                  <div class="d-flex align-items-center iq-view">
                     <b class="mb-0 text-primary"><a href="{% url 'category_view' 2 %}">View More <i
                              class="las la-angle-right"></i></a></b>
                  </div>
               </div>

               <div class="iq-card-body">
                  <ul class="list-unstyled row  iq-box-hover mb-0">

                     {% for show in shows %}
                     <li class="col-xl-2 col-lg-3 col-md-4 iq-music-box">
                        <div class="iq-card ">
                           <div class="iq-card-body p-0">
                              <div class="iq-thumb">
                                 <div class="iq-music-overlay"></div>
                                 <a href="music-player.html">
                                    <img src="{{show.ImageURL}}"
                                       class="img-border-radius img-fluid w-100" alt="">
                                 </a>
                                 <div class="overlay-music-icon">
                                    <a href="music-player.html">
                                       <i class="las la-play-circle"></i>
                                    </a>
                                 </div>
                              </div>
                              <div class="feature-list text-center">
                                 <h6 class="font-weight-600  mb-0">{{show.user.first_name}}</h6>
                                 <p class="mb-0">{{show.show_name}}</p>
                              </div>
                           </div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>
               </div>

            </div>
         </div>
      </div>
{% endfor %}
   </div>

{% endblock content %}