{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}


<div class="col-sm-12">
   <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
         <div class="iq-header-title">
            <h4 class="card-title">PlayLists</h4>
         </div>
         <div class="iq-card-header-toolbar d-flex align-items-center">
            <a href="{% url 'create_playlist' %}" class="btn btn-primary">Create Playlist</a>
         </div>
      </div>
   </div>
</div>
</div>


<div class="col-lg-12">
   <div class="iq-card">
      <div class="iq-card-body">
         <ul class="list-unstyled iq-music-slide mb-0">
            <li class="mb-3">
               <div class="d-flex justify-content-between align-items-center row">
                  <div class="media align-items-center col-10 col-md-5">
                     <div class="iq-realese-song">
                        <a href="javascript:void(0);">
                           <i class="ri-heart-fill  text-primary"></i>
                        </a>
                     </div>
                     <div class="media-body ml-3">
                        <a href="{% url 'consumer_playlist_data' %}">
                           <p class="mb-0 ">Liked Podcasts</p>
                        </a>
                        <small>{{liked_count}}</small>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>


<div class="col-lg-12">
   {% for playlist,count in playlist_data.items %}
   <div class="iq-card">
      <div class="iq-card-body">
         <ul class="list-unstyled iq-music-slide mb-0">
            <li class="mb-3">
               <div class="d-flex justify-content-between align-items-center row">
                  <div class="media align-items-center col-10 col-md-5">
                     <div class="iq-realese-song">
                        <a href="{% url 'manage_playlist_content' playlist.id %}">
                           <img src="{% static './consumer/images/dashboard/realease-song/02.png' %}"
                              class="img-border-radius avatar-60 img-fluid" alt="">
                        </a>
                     </div>
                     <div class="media-body ml-3">
                        <a href="{% url 'manage_playlist_content' playlist.id %}">
                           <p class="mb-0">{{playlist.playlist_name}}</p>
                        </a>
                        <small>{{count}}</small>
                     </div>
                  </div>

                  <div class="iq-card-header-toolbar iq-music-drop d-flex align-items-center col-2 col-md-1">
                     <div class="dropdown">

                        <span class="dropdown-toggle text-primary" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-expanded="false" role="button">
                           <i class="ri-more-2-fill text-primary"></i>
                        </span>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">

                           <a type="button" class="dropdown-item deletePlaylistBtn" type="button" onclick="fun('{{playlist.id}}')">
                              <i type="button" class="ri-delete-bin-6-fill mr-2"></i>Delete</a>

                        </div>
                     </div>
                  </div>
               </div>
            </li>

         </ul>
      </div>
   </div>
   {% endfor %}
</div>


<script>
   var id;
   function fun(playlistid){
      id = playlistid
   }

   $('.deletePlaylistBtn').click(function () {
      $.ajax({
         url: '/delete-playlist/' + id + '/',
         type: 'GET',
         dataType: 'JSON',
         success:function(data){
            if (data == 'playlistdeleted'){
               console.log('heyy')
               location.reload()
            }
         }

      })
   })
</script>

{% endblock content %}