{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static './consumer/images/favicon.ico' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static './consumer/css/bootstrap.min.css' %}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static './consumer/css/typography.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static './consumer/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static './consumer/css/responsive.css' %}">
</head>

<body>

    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-6 col-sm-12 col-12 ">
                    <div class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <div class="sign-in-from w-100 m-auto pt-5">
                                <img src="{% static './consumer/images/login/mail.png' %}" width="80" alt="">
                                <h1 class="mt-3 mb-0">Success !</h1>
                                <p class="text-white">A email has been send to <a href="#">adnan@mail.com</a>
                                    Please check for an email from company and click on the included link to reset your
                                    password.</p>
                                <div class="d-inline-block w-100">
                                    <a href="/signin/" class="btn btn-primary mt-3">Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sign in END -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'consumer/js/jquery.min.js' %}"></script>
    <script src="{% static 'consumer/js/popper.min.js' %}"></script>
    <script src="{% static 'consumer/js/bootstrap.min.js' %}"></script>
    <!-- Appear JavaScript -->
    <script src="{% static 'consumer/js/jquery.appear.js' %}"></script>
    <!-- Countdown JavaScript -->
    <script src="{% static 'consumer/js/countdown.min.js' %}"></script>
    <!-- Counterup JavaScript -->
    <script src="{% static 'consumer/js/waypoints.min.js' %}"></script>
    <script src="{% static 'consumer/js/jquery.counterup.min.js' %}"></script>
    <!-- Wow JavaScript -->
    <script src="{% static 'consumer/js/wow.min.js' %}"></script>
    <!-- Apexcharts JavaScript -->
    <script src="{% static 'consumer/js/apexcharts.js' %}"></script>
    <!-- Slick JavaScript -->
    <script src="{% static 'consumer/js/slick.min.js' %}"></script>
    <!-- Select2 JavaScript -->
    <script src="{% static 'consumer/js/select2.min.js' %}"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="{% static 'consumer/js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="{% static 'consumer/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="{% static 'consumer/js/smooth-scrollbar.js' %}"></script>

    <!-- am core JavaScript -->
    <script src="{% static 'consumer/js/core.js' %}"></script>
    <!-- am charts JavaScript -->
    <script src="{% static 'consumer/js/charts.js' %}"></script>
    <!-- am animated JavaScript -->
    <script src="{% static 'consumer/js/animated.js' %}"></script>
    <!-- am kelly JavaScript -->
    <script src="{% static 'consumer/js/kelly.js' %}"></script>
    <!-- am maps JavaScript -->
    <script src="{% static 'consumer/js/maps.js' %}"></script>
    <!-- am worldLow JavaScript -->
    <script src="{% static 'consumer/js/worldLow.js' %}"></script>
    <!-- Style Customizer -->
    <!-- <script src="{% static 'consumer/js/style-customizer.js' %}"></script> -->
    <script src="{% static 'consumer/js/chart-custom.js' %}"></script>
    <!-- music js -->
    <!-- <script src="{% static 'consumer/js/music-player.js' %}"></script> -->
    <!-- music-player js -->
    <!-- <script src="{% static 'consumer/js/music-player-dashboard.js' %}"></script> -->
    <!-- Custom JavaScript -->
    <script src="{% static 'consumer/js/custom.js' %}"></script>
</body>

</html>