{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" style="margin-top: 10rem;">
    <div class="row">
        {% for plan in plans %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="iq-card">
                <div class="iq-card-body border text-center rounded">
                    <span class="font-size-16 text-uppercase">{{plan.plan_name}}</span>
                    <h2 class="mb-4 display-3 font-weight-bolder ">₹ {{plan.price}}<small class="font-size-14 text-muted">/
                            Month</small></h2>
                    <ul class="list-unstyled mb-0">
                        <li>Validity - {{plan.validity}}</li>
                        <li>One Time Payment</li>
                    </ul>
                    <a href="#" class="subscribtionBtn" onclick="getPlanDetails('{{plan.plan_name}}','{{plan.price}}','{{plan.validity}}')" class="btn btn-primary mt-5">Start Starter</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>
    var planName;
    var planPrice;
    var planValidity

    function getPlanDetails(planname, planprice, planvalidity) {
        planName = planname
        planPrice = planprice
        console.log('hey',planPrice)
        planValidity = planvalidity
        // raxorpay
        var options = {
                "key": "rzp_test_0kYbZpsZhmIMUk", // Enter the Key ID generated from the Dashboard
                "amount": planPrice * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Blah Blah Blah",
                "description": "Premium Subscribtion",
                "image": "{% static './consumer/images/logo.png' %}",
                "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                        alert('Transaction completed..!!!');
                        paymentSuccess()
                        },
                        "prefill": {
                            "name": "{{address.name}}",
                            "email": "{{address.email}}",
                            "contact": "9999999999"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#F37254"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                        rzp1.open();
        }
        
    function paymentSuccess(){
        var checkoutData ={
            csrfmiddlewaretoken: '{{csrf_token}}',
            planName:planName,
            planPrice:planPrice,
            planValidity:planValidity,
        }
        $.ajax({
            url: '/checkout/',
            type: 'POST',
            data: checkoutData,
            dataType: 'JSON',
            success:function(data){
                location.replace('/thankyou/')
            }
        })
    }


</script>
{% endblock content %}