
{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid" style="margin-top: 10rem;">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body border text-center rounded">
                        <span class="font-size-16 text-uppercase">Basic</span>
                        <h2 class="mb-4 display-3 font-weight-bolder ">₹ 199<small
                                class="font-size-14 text-muted">/ Month</small></h2>
                        <ul class="list-unstyled mb-0">
                            <li>1 month</li>
                            <li>One Time Payment</li>
                        </ul>
                        <a href="#" class="btn btn-primary mt-5">Start Starter</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="iq-card bg-primary text-white">
                    <div class="iq-card-body border text-center rounded">
                        <span class="font-size-16 text-uppercase">Silver</span>
                        <h2 class="mb-4 display-3 font-weight-bolder text-white">₹ 400<small
                                class="font-size-14">/ Month</small></h2>
                        <ul class="list-unstyled mb-0 ">
                            <li>3 months</li>
                            <li>One Time Payment</li>
                        </ul>
                        <a href="#" class="btn btn-light mt-5">Start Starter</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body border text-center rounded">
                        <span class="font-size-16 text-uppercase">Gold</span>
                        <h2 class="mb-4 display-3 font-weight-bolder ">₹ 600<small
                                class="font-size-14 text-muted">/ Month</small></h2>
                        <ul class="list-unstyled mb-0">
                            <li>6 Months</li>
                            <li>One Time Payment</li>
                        </ul>
                        <a href="#" class="btn btn-primary mt-5">Start Starter</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body border text-center rounded">
                        <span class="font-size-16 text-uppercase">Diamond</span>
                        <h2 class="mb-4 display-3 font-weight-bolder ">₹ 1200<small
                                class="font-size-14 text-muted">/ Month</small></h2>
                        <ul class="list-unstyled mb-0">
                            <li>12 Months</li>
                            <li>One Time Payment</li>
                        </ul>
                        <a href="#" class="btn btn-primary mt-5">Start Starter</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}