{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
       <div class="row profile-content">
          <div class="col-12 col-md-12 col-lg-12">
             <div class="iq-card">
                <div class="iq-card-body profile-page">
                   <div class="profile-header">
                      <div class="cover-container text-center">
                         <img src="{% static './consumer/images/user/1.jpg' %}" alt="profile-bg" class="rounded-circle img-fluid">
                         <div class="profile-detail mt-3">
                            <h3>{{request.user}}</h3>
                           {% if user_details.premium == False %}
                            <p class="text-primary">Free User</p>
                            {%else%}
                            <p class="text-primary">Premium Member</p>
                           {% endif %}
                            <div class="d-flex justify-content-center">
                               <div class="col-3">
                                 <a href="{% url 'followed_shows' %}" class="text-dark">Followed Shows</a><br>
                                 <span>{{followed_shows_count}}</span>
                               </div>

                               <div class="col-3">
                                 <a href="{% url 'followed_artists' %}" class="text-dark">Followed Podcasters</a><br>
                                 <span>{{followed_artists_count}}</span>
                               </div>
                              
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between align-items-center mb-0">
                   <div class="iq-header-title">
                      <h4 class="card-title mb-0">Personal Details</h4>
                   </div>
                   <div class="iq-header-title">
                     <a href="{% url 'consumer_profile_edit' request.user.id %}" class="card-title mb-0">Edit Details</a>
                    </div>
                </div>
                <div class="iq-card-body">
                   <ul class="list-inline p-0 mb-0">
                      <li>
                         <div class="d-flex align-items-center justify-content-between mb-3">
                            <h6>Birthday</h6>
                            <p class="mb-0">3rd March</p>
                         </div>
                      </li>
                      <li>
                         <div class="d-flex align-items-center justify-content-between mb-3">
                            <h6>Address</h6>
                            <p class="mb-0">Landon</p>
                         </div>
                      </li>
                      <li>
                         <div class="d-flex align-items-center justify-content-between mb-3">
                            <h6>Phone</h6>
                            <p class="mb-0">(010)987 543 201</p>
                         </div>
                      </li>
                      <li>
                         <div class="d-flex align-items-center justify-content-between mb-3">
                            <h6>Email</h6>
                            <p class="mb-0">adnan@mail.com</p>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       
    </div>


{% endblock content %}