{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="iq-card">
            <div class="iq-card-body">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="{{shows.ImageURL}}" width="240" height="240" />
                  </div>

                  <div class="col-lg-8">
                     <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                        <div class="music-detail">
                           <h3>{{shows.show_name}}</h3>
                           <small>{{shows.description}}</small><br>
                           <span>by {{shows.host}}</span>
                           <p>Total Episodes: {{total_episodes}} </p>
                           <div class="d-flex align-items-center">
                              <button class="btn btn-primary iq-play mr-2" onclick="showFirstEpisode('{{shows.id}}')">Play</button>
                              {% if follow_status == "follow" %}
                              <button class="btn btn-primary iq-play mr-2 follows" id="followShowBtn">UnFollow</button>
                              {%else%}
                              <button class="btn btn-primary iq-play mr-2 follows" id="followShowBtn">Follow</button>
                              {% endif %}
                           </div>
                        </div>
                        <div class="music-right">
                           <div class="d-flex align-items-center">
                              <div class="iq-circle mr-2 share"><a type="button">
                                 <i class="las la-share-alt-square text-primary" onclick="copyToClipboard()"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="col-lg-12">
   <div class="iq-card">
      <div class="iq-card-body">
         <ul class="list-unstyled iq-music-slide mb-0">
            {% for episode in episodes %}
            <li class="mb-3">
               <div class="d-flex justify-content-between align-items-center row">
                  <div class="media align-items-center col-10 col-md-5">
                     <div class="iq-realese-song ">
                        <a href="{% url 'single_episode' episode.id %}"><img src="{{episode.ImageURL}}"
                              class="img-border-radius avatar-60 img-fluid" alt=""></a>
                     </div>
                     <div class="media-body ml-3">
                        <a href="{% url 'single_episode' episode.id %}">
                           <p class="mb-0">{{episode.episode_name}}</p>
                        </a>
                        <small>{{episode.artist}}</small>
                     </div>
                  </div>

                  <p class="mb-0 col-2 col-md-2 iq-music-play">
                     <i class="las la-play-circle font-size-32 text-primary" id="siglePlayBtn-{{episode.id}}"  onclick="fun('{{episode.id}}');singleEpisodeplaypauseTrack('{{episode.id}}')"></i>
                  </p>

               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>

</div>



<script>
   var id;
   var singlePlayBtn
function fun(trackid){
   id = trackid
   singlePlayBtn = $('#siglePlayBtn-'+id)
}


</script>

<script>
   $('#followShowBtn').click(function () {
      var showId = '{{shows.id}}'
      var follow_Type = 'followpodcast'
      var followData = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         id: showId,
         followType: follow_Type,
      }
      $.ajax({
         url: '/follow-show/' + showId + '/',
         type: 'POST',
         data: followData,
         dataType: 'JSON',
         success: function (data) {
            if (data == 'unfollowed_show') {
               $('.follows').text('Follow');
            } else {
               $('.follows').text('Unfollow');
            }
         }
      })
   })
</script>


<script>
function copyToClipboard(text) {
var inputc = document.body.appendChild(document.createElement("input"));
inputc.value = window.location.href;
inputc.focus();
inputc.select();
document.execCommand('copy');
inputc.parentNode.removeChild(inputc);
launch_toast()
}
</script>
{% endblock content %}