{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}
<style>
   .hidden {
      display: none !important;
   }
</style>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="iq-card">
            <div class="iq-card-body">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="{{artists.ImageURL}}" width="240" height="240" />
                  </div>

                  <div class="col-lg-8">
                     <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                        <div class="music-detail">
                           <h3>{{artists.user.username}}</h3>
                           <p>Followers:<span> {{creator_followers_count}}</span></p>
                           <span>{{artists.about_me}}</span>
                           <p>Total Shows : <span> {{shows_count}} </span> </p>

                           <div class="d-flex align-items-center">
                              {% if follow_status == "follow" %}
                              <button class="btn btn-primary iq-play mr-2 follows" id="followBtn">UnFollow</button>
                              {% else %}
                              <button class="btn btn-primary iq-play mr-2 follows" id="followBtn">Follow</button>
                              {% endif %}

                           </div>

                        </div>
                        <div class="music-right">
                           <div class="d-flex align-items-center">
                              <div class="iq-circle mr-2 share"><a href="javascript:void();"><i
                                       class="las la-share-alt-square text-primary"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="col-lg-12">
   <div class="iq-card">
      <div class="iq-card-body">
         <h4 class="text-primary">SHOWS</h4>
         <ul class="list-unstyled iq-music-slide mt-1">
            {% for show,count in shows_data.items %}
            <li class="mb-3">
               <div class="d-flex justify-content-between align-items-center row">
                  <div class="media align-items-center col-10 col-md-5">
                     <div class="iq-realese-song ">
                        <a href="{% url 'single_podcast' show.id %}"><img src="{{show.ImageURL}}"
                              class="img-border-radius avatar-60 img-fluid" alt=""></a>
                     </div>
                     <div class="media-body ml-3">
                        <a href="{% url 'single_podcast' show.id %}">
                           <p class="mb-0">{{show.show_name}}</p>
                        </a>
                        <small>{{show.host}}</small>
                     </div>
                  </div>
                  <p class="mb-0 col-md-2 col-md-2 iq-music-time">Total Episodes: <span>{{count}}</span></p>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>

</div>


<script>
   $('#followBtn').click(function () {     
      var artistid = '{{artists.id}}'
      var follow_Type = 'follow'
      var followData = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         id: artistid,
         followType: follow_Type,
      }
      $.ajax({
         url: '/follow/' + artistid + '/',
         type: 'POST',
         data: followData,
         dataType: 'JSON',
         success: function (data) {
            if (data == 'followed') {
               console.log('heyy')
               $('.follows').text('Unfollow'); 
               console.log('followed')
            } else if (data == 'unfollowed') {
               $('.follows').text('Follow'); 
               console.log('unfollowed')
            }
         }
      })
   })
</script>
{% endblock content %}