{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<style>
   /* Base setup */
   @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

   /* Ratings widget */
   .rate {
      display: inline-block;
      border: 0;
   }

   /* Hide radio */
   .rate>input {
      display: none;
   }

   /* Order correctly by floating highest to the right */
   .rate>label {
      float: right;
   }

   /* The star of the show */
   .rate>label:before {
      display: inline-block;
      font-size: 1.1rem;
      padding: .3rem .2rem;
      margin: 0;
      cursor: pointer;
      font-family: FontAwesome;
      content: "\f005 ";
      /* full star */
   }

   /* Zero stars rating */
   .rate>label:last-child:before {
      content: "\f006 ";
      /* empty star outline */
   }

   /* Half star trick */
   .rate .half:before {
      content: "\f089 ";
      /* half star no outline */
      position: absolute;
      padding-right: 0;
   }

   /* Click + hover color */
   input:checked~label,
   /* color current and previous stars on checked */
   label:hover,
   label:hover~label {
      color: #ffe600;
   }

   /* color previous stars on hover */

   /* Hover highlights */
   input:checked+label:hover,
   input:checked~label:hover,
   /* highlight current and previous stars */
   input:checked~label:hover~label,
   /* highlight previous selected stars for new rating */
   label:hover~input:checked~label

   /* highlight previous selected stars */
      {
      color: #ffe600;
   }
</style>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="iq-card">

            <div class="iq-card-body">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="{{episode.ImageURL}}" class="img-fluid w-100" alt="">
                  </div>
                  <div class="col-lg-8">
                     <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                        <div class="music-detail">
                           <h3>{{episode.episode_name}}</h3>
                           <span>{{episode.artist}}</span>
                           <form name="myForm" onchange="starrating()">

                              <fieldset class="rate">
                                 <input type="radio" id="rating10" name="rating" value="5" {% if user_rating.rating == 5 %}  checked {% endif %}/>
                                 <label for="rating10" title="5 stars"></label>
                                 
                                 <input type="radio" id="rating9" name="rating" value="4.5"{% if user_rating.rating == 4.5 %}  checked {% endif %}/>
                                 <label class="half" for="rating9" title="4 1/2 stars"></label>

                                 <input type="radio" id="rating8" name="rating" value="4"{% if user_rating.rating == 4.0 %}  checked {% endif %}/>
                                 <label for="rating8"title="4 stars"></label>

                                 <input type="radio" id="rating7" name="rating" value="3.5"{% if user_rating.rating == 3.5 %}  checked {% endif %}/>
                                 <label class="half"for="rating7" title="3 1/2 stars"></label>

                                 <input type="radio" id="rating6" name="rating" value="3" {% if user_rating.rating == 3.0 %}  checked {% endif %}/>
                                 <label for="rating6" title="3 stars"></label>

                                 <input type="radio" id="rating5" name="rating" value="2.5" {% if user_rating.rating == 2.5 %}  checked {% endif %}/>
                                 <label class="half" for="rating5" title="2 1/2 stars"></label>

                                 <input type="radio" id="rating4" name="rating" value="2" {% if user_rating.rating == 2.2 %}  checked {% endif %}/>
                                 <label for="rating4"title="2 stars"></label>

                                 <input type="radio" id="rating3" name="rating" value="1.5" {% if user_rating.rating == 1.5 %}  checked {% endif %}/>
                                 <label class="half"for="rating3" title="1 1/2 stars"></label>

                                 <input type="radio" id="rating2" name="rating" value="1" {% if user_rating.rating == 1.0 %}  checked {% endif %}/>
                                 <label for="rating2" title="1 star"></label>

                                 <input type="radio" id="rating1" name="rating" value="0.5" {% if user_rating.rating == 0.5 %}  checked {% endif %}/>
                                 <label class="half" for="rating1" title="1/2 star"></label>
                              
                                 <div><span>Rating {{episode.rating}}</span></div>
                                 
                              </fieldset>
                              
                           </form>
                           
                           <span><h4>Description:</h4> <br>{{episode.description}}</span>
                           <p class="mb-0">{{episode.listeners}} Views</p>
                           <div class="d-flex align-items-center">

                              <button class="btn btn-primary iq-play mr-2 playBtn" onclick="currentTrack('{{episode.id}}')">Play
                                 music</button>

                           </div>

                        </div>
                        <div class="music-right">
                           <div class="d-flex align-items-center">
                              
                              <div class="iq-circle mr-2 share">
                                 <a>
                                    <i class="las la-share-alt-square text-primary" onclick="copyToClipboard()"></i>
                                 </a>
                              </div>

                              {% if not favorites_list.types == True %}
                              <div class="iq-circle mr-2">
                                 <a type="button" class="favorites_Song"><i class="fav fa fa-heart-o text-primary" type="button"
                                    id="favorites_Song"></i></a>
                              </div>
                              {% else %}
                              <div class="iq-circle mr-2">
                                 <a type="button" class="favorites_Song"><i class="fav ri-heart-fill  text-primary"  type="button" 
                                       id="favorites_Song"></i></a>
                              </div>

                              {% endif %}
                              
                              <div class="iq-circle mr-2">
                                 <a type="button"><i class="las la-file-audio text-primary" data-toggle="modal"
                                       data-target="#exampleModal" id="addPlaylist"></i></a>
                              </div>

                              {% if user_details.premium == True %}
                              <div class="iq-circle">
                                 <a href="{{episode.PodcastURL}}" download><i
                                       class="las la-download text-primary"></i></a>
                              </div>
                              {% endif %}


                              <br>
                              


                              <div>
                                 <div class="iq-circle mr-2">
                                    <i class="fa fa-thumbs-up {% if reaction_type == "Like" %} text-primary {% endif %} type="button" id="likeBtn"></i>
                                 </div>
   
                                 <div class="iq-circle mr-2">
                                    <i class="fa fa-thumbs-down  {% if reaction_type == "Dislike" %} text-primary {% endif %} type="button" id="dislikeBtn"></i>
                                 </div>

                                 <div class="iq-circle mt-2 mr-4">
                                    <i class="fa fa-comment-o text-primary" id="commentBtn"></i>
                                 </div>
                              </div> 

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   {% if not user_details.premium == True %}
   <!-- banner Ads -->
   <h1>heyy</h1>
   <h1>{{advertisment.ImageURL}}</h1>
   <div class="d-flex justify-content-center" width="100">
      <img class="d-flex justify-content-center" src="{{advertisment.ImageURL}}">
   </div>
   {% endif %}
   
</div>

<!-- PlayList Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">

         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
            <div class="table-responsive">
               {% if playlists %}
               <table class="table align-middle table-nowrap">
                  <thead>
                     <tr>
                        <th scope="col">Playlists</th>
                     </tr>
                  </thead>

                  <tbody class="updatedplaylist">
                     {% for playlist in playlists %}
                     <tr>
                        <td>
                           <div>
                              <button class="btn btn-primary" data-dismiss="modal"
                                 onclick="playlistname('{{playlist.id}}')">{{playlist.playlist_name}}</button>
                           </div>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <table class="table align-middle table-nowrap">

                  <tbody class="updatedplaylist">
                     <tr>
                        <h4 class="text-center">Currently There is No Playlists</h4>
                     </tr>
                  </tbody>
               </table>
               {% endif %}
            </div>
         </div>

         <div class="modal-footer">
            <input type="text" id="playlistNames" name="playlistNames" class="form-control" placeholder="Playlist Name"
               value="" />
            <button id="createPlaylist" class="btn btn-primary">Create</button>
         </div>

      </div>
   </div>
</div>

<!-- commentBtn -->
<script>
   $('#commentBtn').click(function(){
      console.log('heyy')
   })
</script>

<!-- playbtn -->
<script>
   var singleEpisodePlayBtn;
   var flag = 0
   $('.playBtn').click(function(){
      if (flag==1){
         console.log('ON',flag)
         flag = 0
         singleEpisodePlayBtn.text('Play')
      }else
      {
         console.log('OFF',flag)
         flag = 1
         singleEpisodePlayBtn = $('.playBtn')
         singleEpisodePlayBtn.text('Pause')
         singleEpisodePlayBtn.attr("onclick", "playpauseTrack()");
      }
   })

</script> 

<!-- favorites -->
<script>
   $(".favorites_Song").click(function () {
      var songId = '{{episode.id}}'
      var SongInfo = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         playlistName: 'Favorites'
      }
      $.ajax({
         url: '/add-favorite/' + songId + '/',
         type: 'POST',
         dataType: 'json',
         data: SongInfo,
         success: function (data) {
            if (data == 'addedfavorites') {
               console.log('added')
               $('.fav').removeClass('fa fa-heart-o'); 
               $('.fav').addClass('ri-heart-fill');
            }else{
               console.log('removefavorites')
               $('.fav').addClass('fa fa-heart-o');
               $('.fav').removeClass('ri-heart-fill'); 
                
            }
         }

      })
   });

   $('#createPlaylist').click(function () {
      var playlistData = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         playlistName: $('#playlistNames').val(),
      }
      $.ajax({
         url: '/create-playlist/',
         type: 'POST',
         data: playlistData,
         success: function (data) {
            data = JSON.parse(data.playlistcreated)
            console.log(data[0].pk)
            var html_content = '<tr><td><button class="btn btn-primary" data-dismiss="modal" onclick="playlistname(' + data[0].pk + ')">' + data[0].fields.playlist_name + '</button></td></tr>'
            $('.updatedplaylist').append(html_content)
         }

      })
   })

   var playlistid
   function playlistname(playlistid) {
      var songId = '{{episode.id}}'
      var SongInfo = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         playlistName: playlistid,
         podcastId: songId
      }
      $.ajax({
         url: '/add-playlist/' + playlistid + '/',
         type: 'POST',
         data: SongInfo,
         // success:function(data){

         // }
      })

   }

</script>

<!-- rating -->
<script>
   var id = "{{episode.id}}"
   function starrating(){
   var selected = document.forms.myForm.rating.value;
   var starRating = {
            csrfmiddlewaretoken: '{{csrf_token}}',
            rating:selected,
         }
   $.ajax({
      url: '/rating/'+id+'/',
      type: 'POST',
      data:starRating,
      success:function(data){
         console.log('response')
      }
   })

   }



</script>

<!-- sharebutton -->
<script>
   function copyToClipboard(text) {
   var inputc = document.body.appendChild(document.createElement("input"));
   inputc.value = window.location.href;
   inputc.focus();
   inputc.select();
   document.execCommand('copy');
   inputc.parentNode.removeChild(inputc);
   launch_toast()
   }
</script>

<!-- like and Dislike -->
<script>
   id = '{{episode.id}}'

$('#likeBtn').click(function(){
   var Reaction = {
      reaction_type:'Like',
      csrfmiddlewaretoken:'{{csrf_token}}'
   }
   $.ajax({
      url:'/reaction/'+id+'/',
      method:'POST',
      data:Reaction,
      dataType:'JSON',
      success:function(data){
         if (data == 'liked'){
            console.log('worleed,likedd')
            $('#likeBtn').addClass("text-primary")
            $('#dislikeBtn').removeClass("text-primary")
         }else{
            $('#likeBtn').removeClass("text-primary")

         }
      }
   })
})

$('#dislikeBtn').click(function(){
   var Reaction = {
      reaction_type:'Dislike',
      csrfmiddlewaretoken:'{{csrf_token}}'
   }
   $.ajax({
      url:'/reaction/'+id+'/',
      method:'POST',
      data:Reaction,
      dataType:'JSON',
      success:function(data){
         if (data == 'dislike'){
            $('#dislikeBtn').addClass("text-primary")
            $('#likeBtn').removeClass("text-primary")
         }else{
            $('#dislikeBtn').removeClass("text-primary")
         }
      }
   })
})
</script>

{% endblock content %}