{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="iq-card">
            <div class="iq-card-body">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="{{episode.ImageURL}}" class="img-fluid w-100" alt="">
                  </div>
                  <div class="col-lg-8">
                     <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                        <div class="music-detail">
                           <h3>{{episode.episode_name}}</h3>
                           <span>{{episode.artist}}</span>
                           <p class="mb-0">{{episode.listeners}} Views</p>
                           <br>
                           <div class="d-flex align-items-center">
                              <button class="btn btn-primary iq-play mr-2" onclick="currentTrack('{{episode.id}}')">Play
                                 music</button>
                           </div>
                        </div>
                        <div class="music-right">
                           <div class="d-flex align-items-center">
                              <div class="iq-circle mr-2 share"><a href="javascript:void();"><i
                                       class="las la-share-alt-square text-primary"></i></a></div>
                              <div class="iq-circle mr-2"><a type="button" id="likeSong"><i
                                       class="ri-heart-fill  text-primary" type="button" id="likeSong"></i></a></div>
                              <div class="iq-circle">
                                 <a type="button"><i class="las la-file-audio text-primary" data-toggle="modal"
                                       data-target="#exampleModal" id="addPlaylist"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   {% if not user_details.premium == True %}
   {% for ad in advertisment %}
   <div class="row iq-card">
      <img src="{{ad.ImageURL}}">
   </div>
   {% endfor %}
   {% endif %}
   
</div>


<!-- PlayList Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>


         <div class="modal-body">
            <div class="table-responsive">
               {% if playlists  %}
               <table class="table align-middle table-nowrap">
                  <thead>
                     <tr>
                        <th scope="col">Playlists</th>
                     </tr>
                  </thead>

                  <tbody class="updatedplaylist">
                     {% for playlist in playlists %}
                     <tr>
                        <td>
                           <div>
                              <!-- <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5> -->
                              <button class="btn btn-primary" data-dismiss="modal" onclick="playlistname('{{playlist.id}}')">{{playlist.playlist_name}}</button>
                           </div>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <table class="table align-middle table-nowrap">
                  
                  <tbody class="updatedplaylist">
                     <tr>
                        <h4 class="text-center">Currently There is No Playlists</h4>
                     </tr>
                  </tbody>
               </table>
               {% endif %}
            </div>
         </div>

         <div class="modal-footer">
            <input type="text" id="playlistNames" name="playlistNames" class="form-control" placeholder="Playlist Name"
               value="" />
            <button id="createPlaylist" class="btn btn-primary">Create</button>
         </div>

      </div>
   </div>
</div>

<script>
   $("#likeSong").click(function () {
      var songId = '{{episode.id}}'
      var SongInfo = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         playlistName: 'likedsong'
      }
      $.ajax({
         url: '/add-liked/' + songId + '/',
         type: 'POST',
         dataType: 'json',
         data: SongInfo,
         success: function (data) {
            if (data == 'playlistadded') {
               console.log('success')
            }
         }

      })
   });

   $('#createPlaylist').click(function () {
      var playlistData = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         playlistName: $('#playlistNames').val(),
      }
      $.ajax({
         url: '/create-playlist/',
         type: 'POST',
         data: playlistData,
         success: function (data) {
            data = JSON.parse(data.playlistcreated)
            console.log(data[0].pk)
            var html_content = '<tr><td><button data-dismiss="modal" onclick="playlistname(' + data[0].pk + ')">' + data[0].fields.playlist_name + '</button></td></tr>'
            $('.updatedplaylist').append(html_content)
         }

      })
   })

   var playlistid
   function playlistname(playlistid) {
      var songId = '{{episode.id}}'
      var SongInfo = {
         csrfmiddlewaretoken: '{{csrf_token}}',
         playlistName: playlistid,
         podcastId: songId
      }
      $.ajax({
         url: '/add-playlist/' + playlistid + '/',
         type: 'POST',
         data: SongInfo,
         // success:function(data){

         // }
      })

   }


</script>


{% endblock content %}